<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/logo.ico">
        <title>Contacto</title>
        <link rel="stylesheet" type="text/css" href="/contacto.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>



    <body>
        <header th:replace="fragments/header::nav"></header>


        <div class="container">
            <div class="row fila-principal">
                <div class="col-12 contenido">

                    <h1>Felicidades</h1>
                    <h2>Usted acaba de adoptar a MICHI</h2>
                    <h3>Datos de contacto:</h3><br>
                    <ul class="lista">
                        <li>Dato 1</li><br>
                        <li>Dato 2</li><br>
                        <li>Dato 3</li><br>
                        <li>Dato 3</li><br>
                        <li>Dato 3</li><br>
                    </ul>
                </div>


            </div>

            <footer th:replace="fragments/footer::footer"></footer>

    </body>
</html>