<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/logo.ico">
        <link rel="stylesheet" type="text/css" href="/formulariogato.css">
        
        <title>Patitas - Michis factory</title>
    </head>
    <body>

        <header th:replace="fragments/header::nav"></header>

        <h1 class="error" th:text="${error}" th:if="${error}"></h1>
        <h1 th:if="${accion != 'eliminar'}" class="img-fluid rounded-circle" style="margin-top: 80px; text-align: center"><span th:text="${gato.id == null ? 'Postear' : 'Actualizar' }"></span> michi</h1>
        <h1 th:if="${accion == 'eliminar'}" class="img-fluid rounded-circle" style="margin-top: 80px; text-align: center"> Eliminar michi</h1>

       
        <div>  
            <form enctype="multipart/form-data">    
                <div class="Box">
              <div id="foto" >
                <img  class="img-fluid " style="max-height: 155px; min-height: 155px;" th:if="${gato.fotoPrincipal != null && gato.id != null}" th:src="${'/foto/gato/' + gato.id}" title="Michi lindo de patitas" alt="Un michi hermoso">
                <img  class="img-fluid " style="max-height: 155px; min-height: 155px;" th:if="${gato.fotoPrincipal == null && gato.id != null}" src="/avatardefault.jpg" title="Michi lindo de patitas" alt="Un michi hermoso"> 
              </div>
                    <input type="hidden" name="idGato" th:value="${gato.id}">

                    <div class="distancia">
                        <label for="nombre">Ingresar nombre</label><br>
                        <input type="text" id="nombre" name="nombre" th:value="${gato.nombre}" th:disabled="${accion == 'eliminar'}">
                        <br>
                    </div> 

                    <div class="distancia">
                        <label for="edad">Ingresar edad</label><br>
                        <input type="text" id="edad" name="edad" th:value="${gato.edad}" th:disabled="${accion == 'eliminar'}">
                        <br>
                    </div> 

                    <div class="distancia">
                        <label>Sexo</label><br>
                        <select name="sexo" th:disabled="${accion == 'eliminar'}"> 
                            <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo}" th:selected="${gato.sexo != null && sexo == gato.sexo}"></option>
                        </select>
                        <br>
                    </div> 

                    <div class="distancia">
                        <label>Raza</label><br>
                        <select name="raza" th:disabled="${accion == 'eliminar'}"> 
                            <option th:each="raza : ${razas}" th:value="${raza}" th:text="${raza}" th:selected="${gato.raza != null && raza == gato.raza}"></option>
                        </select>
                        <br>
                    </div>

                    <div class="distancia">
                        <label for="descripcion">Ingresar descripcion</label><br>
                        <input type="textarea" id="descripcion" name="descripcion" th:value="${gato.descripcion}" th:disabled="${accion == 'eliminar'}">
                        <br>
                    </div> 

                    <div class="distancia">
                        <label th:disabled="${accion=='eliminar'}">Ingresar foto</label><br>
                        <input type="file" name="archivo" th:disabled="${accion=='eliminar'}">
                        <br>
                    </div> 
                    <button class="aceptar" th:if="${accion!='eliminar'}"  formaction="/gato/actualizar-gato" formmethod="POST" type="submit" ><span th:text="${gato.id == null ? 'Postear' : 'Actualizar' }"></span> michi</button>
                    <button class="eliminar" th:if="${accion =='eliminar'}" formaction="/gato/eliminar-gato" formmethod="POST" type="submit">Eliminar michi</button>
                </div>
            </form>
            
        </div>   
        <footer th:replace="fragments/footer::footer"></footer>

    </body>
</html>