    <!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/logo.ico">
        <title>Patitas - Mis Gatos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/misgatitos.css">
    </head>

    <body>

        <header th:replace="fragments/header::nav"></header>

        <h1 class="mensaje">Mis michis que buscan un hogar</h1>
        
        <a th:href="@{/gato/editar-gato}" text-aling="center" class="btn btn-success"  style="padding: 16px; margin-left: 10%; margin-bottom: 15px ">Agregar gato</a>
        
        <div class="tabla">
            <table class="table table-dark table-hover ">
                <thead>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Sexo</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </thead>
                <tbody> 
                    <tr th:if="${gatos != null && !gatos.isEmpty()}" class="table-active" th:each="gato : ${gatos}">
                        <td>
                            <img class="img-fluid " style="max-height: 70px; min-height: 70px; max-width: 80px; min-width: 80px;" th:if="${gato.fotoPrincipal != null}" th:src="${'/foto/gato/' + gato.id}" title="Michi lindo de patitas" alt="Un michi hermoso">
                            <img class="img-fluid " style="max-height: 70px; min-height: 70px; max-width: 80px; min-width: 80px;" th:if="${gato.fotoPrincipal == null}" src="/avatardefault.jpg" title="Michi lindo de patitas" alt="Un michi hermoso"> 
                        </td>
                        <td><span class="texto" th:text="${gato.nombre}"></span></td>
                        <td><span class="texto" th:text="${gato.raza}"></span></td>
                        <td><span class="texto" th:text="${gato.sexo}"></span></td>
                        <td><span class="texto" th:text="${gato.edad}"></span></td>
                        <td>
                            <a th:href="@{/gato/adoptado(idGato=__${gato.id}__)}" formmethod="POST" class="btn btn-success">¡Adoptado!</a>
                            <a th:href="@{/gato/editar-gato(id=__${gato.id}__)}" class="btn btn-light btn-outline-dark">Editar</a>
                            <a th:href="@{/gato/editar-gato(id=__${gato.id}__,accion=eliminar)}" class="btn btn-danger">Eliminar</a>                                                
                        </td>    
                    </tr>
                    <tr th:if="${gatos == null || gatos.isEmpty()}">
                        <td colspan="7" th:text="'Todavia no tienes ningún michi esperando ser adoptado para mostrar'"></td>
                    </tr>
                </tbody>
            </table>
        </div> 
      
       
        <h1 class="mensaje">Mis michis que fueron adoptados</h1>
        <div class="tabla">
            <table class="table table-dark table-hover">
                <thead>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Sexo</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </thead>
                <tbody class="table-success"> 
                    <tr th:if="${gatosAdoptados != null && !gatosAdoptados.isEmpty()}" class="table-active" th:each="gato : ${gatosAdoptados}">
                        <td>
                            <img class="img-fluid " style="max-height: 70px; min-height: 70px; max-width: 80px; min-width: 80px;" th:if="${gato.fotoPrincipal != null}" th:src="${'/foto/gato/' + gato.id}" title="Michi lindo de patitas" alt="Un michi hermoso">
                            <img class="img-fluid " style="max-height: 70px; min-height: 70px; max-width: 80px; min-width: 80px;" th:if="${gato.fotoPrincipal == null}" src="https://png.pngtree.com/png-clipart/20200701/original/pngtree-cat-default-avatar-png-image_5416936.jpg" title="Michi lindo de patitas" alt="Un michi hermoso"> 
                        </td>
                        <td><span class="texto" th:text="${gato.nombre}"></span></td>
                        <td><span class="texto" th:text="${gato.raza}"></span></td>
                        <td><span class="texto" th:text="${gato.sexo}"></span></td>
                        <td><span class="texto" th:text="${gato.edad}"></span></td>
                        <td>
                            <a th:href="@{/gato/restaurar(idGato=__${gato.id}__)}" formmethod="POST" class="btn btn-light btn-outline-dark">Restaurar</a>
                        </td>
                    </tr>
                    <tr th:if="${gatosAdoptados == null || gatosAdoptados.isEmpty()}">
                        <td colspan="7" th:text="'Todavia no tienes ningún michi adoptado'"></td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <a th:href="@{/}" class="btn btn-light btn-outline-dark" style="padding: 16px; margin-left: 10%; margin-top: -230px">Volver al inicio</a>

        <footer th:replace="fragments/footer::footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    </body>